$def with (session_key)
<html>
<head>

</head>
<body>

<h3>Scene Mean Spectral Radiance</h3>

<table>
	<tr>
	
	<td>
	<table>
		<td><img src="/static/$session_key/rad.png"/></td>
	</table>
	</td>

    
    </tr>
</table>
<a href="/static/$session_key/LBT.txt">Right Click to Download Radiance File</a> 

<p></p>
<h3>Scene Signal-to-Noise Ratio</h3>

<table>
	<tr>
	
	<td>
	<table>
		<td><img src="/static/$session_key/snr.png"/></td>
	</table>
	</td>

    
    </tr>
</table>
</form>


<a href="/static/$session_key/SNR.txt">Right Click to Download SNR File</a> 
<p></p>
<h3>ROC Curve</h3>
<img src="/static/$session_key/roc.png"/>
<p></p>
<a href="/static/$session_key/ROC.txt">Right Click to Download ROC File</a> 
<p></p>
<a href="./static/$session_key/customized.fcm">Right Click to Download Scenario Definition File</a> 
</body>
</html> 