$def with (form)
<html> 
<head> 
<title> Leave your message here </title> 
 
</head>

<body> 
<h1>Hyperspectral Imaging System Prediction Model</h1>

<h2>choose pfile</h2> 
<form action="/startpage" method="POST"><div style='display:none;'><input type='hidden' id='csrfmiddlewaretoken' name='csrfmiddlewaretoken' value='6b1aa0b2fee1f8a47d949a3cd91db436' /></div> 
  <table style="width:400px;float:left;"> 
$:form.render()
</select></li>  
  </table> 
  <p><input type="submit" value="Submit"></p> 
</form>


</body> 
</html>